/* App styles*/
.App {
  background-color: #f7fafc;
  min-height: 100vh;
}

/* Nav bar styles */
.header-title{
  font-size: 40px;
  padding: 85px 87px;
}
.nav-bar{
  border-bottom: 1px solid #e2e9ef;
 
}
.nav-list-item{
  text-decoration: none;
  display: inline-block;
  padding:17px 12px 11px 10px;
}
/*photos gallery*/
.main-container{
 /* position: fixed;
  top:0;
  left:0;
  right:25%;
  bottom:20%;
  
height:100%;
  width: 70%;
  padding: 10px;*/
  float: left;
}

.photo{
 
 padding: 20px;
 display: inline-block;
}

.photo-sm{
  width: 180px; 
  height: 135px; 
  object-fit: cover;
  border-radius: 8px;
}

.photo-sm .clicked{
  width: 10px;
  border: 10px solid #4F45E4 ;
}


/*aside block*/
.photo-details{ 
/*  width: 40%;
  float: right;*/
 /* position: fixed;
    
    top:0;
    left:75%;
    right:0;
    bottom:20%;
    height:100%;*/
  background-color: green;
  color: white;
  padding: 5px;
  margin: 10px;
  height: 100px;
}